/* desktop */
@media (min-width: 1200px) {
    @keyframes frame-move-2 {
        /* start 1 */
        0% {
            background-size: auto 150%;
            background-position: 0 0;
        }
        /* still */
        5% {
            background-size: auto 150%;
            background-position: 0 0;
        }
        /* glide */
        10% {
            background-size: auto 150%;
            background-position: 3% 100%;
        }
        /* still */
        15% {
            background-size: auto 150%;
            background-position: 3% 100%;
        }
        /* jump */
        15.01% {
            background-size: auto 130%;
            background-position: 23% 100%;
        }
        /* still */
        20% {
            background-size: auto 130%;
            background-position: 23% 100%;
        }
        /* glide */
        25% {
            background-size: auto 130%;
            background-position: 20% 0;
        }
        /* still */
        30% {
            background-size: auto 130%;
            background-position: 20% 0;
        }
        /* jump to frame */
        30.01% {
            background-size: auto 160%;
            background-position: 40% 20%;
        }
        /* still */
        35% {
            background-size: auto 160%;
            background-position: 40% 20%;
        }
        /* glide */
        40% {
            background-size: auto 115%;
            background-position: 41% 0;
        }
        /* still */
        45% {
            background-size: auto 115%;
            background-position: 41% 0;
        }
        /* jump */
        45.01% {
            background-size: auto 125%;
            background-position: 58% 0;
        }
        /* still */
        50% {
            background-size: auto 125%;
            background-position: 58% 0;
        }
        /* glide */
        55% {
            background-size: auto 113%;
            background-position: 59% 0;
        }
        /* still */
        60% {
            background-size: auto 113%;
            background-position: 59% 0;
        }
        /* jump */
        60.01% {
            background-size: auto 150%;
            background-position: 78% 0;
        }
        /* still */
        65% {
            background-size: auto 150%;
            background-position: 78% 0;
        }
        /* glide */
        70% {
            background-size: auto 105%;
            background-position: 79% 0;
        }
        /* still */
        75% {
            background-size: auto 105%;
            background-position: 79% 0;
        }
        /* jump */
        75.01% {
            background-size: auto 150%;
            background-position: 94% 100%;
        }
        /* still */
        80% {
            background-size: auto 150%;
            background-position: 94% 100%;
        }
        /* glide */
        85% {
            background-size: auto 113%;
            background-position: 100% 100%;
        }
        /* still */
        90% {
            background-size: auto 113%;
            background-position: 100% 100%;
        }
        /* jump */
        90.01% {
            background-size: auto 150%;
            background-position: 0 0;
        }
        /* still */
        100% {
            background-size: auto 150%;
            background-position: 0 0;
        }
    }
}