@import './keyframes-phone.css';
@import './keyframes-desk.css';

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-clr: #0a0a17;
    --theme-clr: lime;
    --borders: 3px solid var(--theme-clr);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-clr);
    /* background: linear-gradient(90deg, #000 0%, var(--bg-clr) 20%, var(--bg-clr) 80%, #000 100%); */
    color: #eee;
    cursor: url('../img/cursor-theme.png'), auto;
}

header {
    text-align: center;
    color: var(--border-clr);
    padding: 1rem;
    user-select: none;
    
}

.logo {
    width: 35rem;
    margin: 0 auto;
    animation: fade-drop 2s ease-out 1s backwards;
}
    @keyframes fade-drop {
        from {
            transform: translateY(-3rem);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

h1.title {
    font-family: 'Roboto Mono', monospace;
    color: var(--theme-clr);
    font-size: 2.25rem;
    letter-spacing: .75rem;
    text-transform: uppercase;
    animation: fade-scale 2s ease-out 2s backwards;
}
    @keyframes fade-scale {
        from {
            scale: .5;
            opacity: 0;
        }
        to {
            scale: 1;
            opacity: 1;
        }
    }

.screen {
    width: 50rem;
    /* height: 30rem; */
    aspect-ratio: 16 / 9;
    position: relative;
    /* z-index: 1; */
    border: var(--borders);
    background-image: url('../img/screen-2.png');
    background-repeat: no-repeat;
    animation: frame-move-2 50s ease-in-out infinite;
} 
    .screen::before,
    .screen::after {
        --width: 12rem;
        /* --height: 7rem; */
        aspect-ratio: 16 / 9;

        content: '';
        position: absolute;
        z-index: 2;
        width: var(--width);
        height: var(--height);
        transform: rotate(-34deg);
        background-color: var(--bg-clr);
    }
    .screen::before {
        transform-origin: 0 100%;
        top: 0;
        left: 0;
        border-bottom: var(--borders);
    }    
    .screen::after {
        transform-origin: 100% 0;
        bottom: 0;
        right: 0;
        border-top: var(--borders);
    }

.overlay {
    background: linear-gradient(
        rgba(0, 213, 255, .06),
        rgba(0, 255, 94, .06) 23px,
        transparent 23px,
        transparent 39px);
    background-size: 100% 39px;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    animation: pan-overlay 4s linear infinite;
}

@keyframes pan-overlay {
    from {
        background-position: 0% 0%;
    }
    
    to {
        background-position: 0% -100%;
    }
}

span.audio {
    rotate: 180deg;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    color: var(--theme-clr);
    font-size: 3rem;
    border-radius: 100%;
}

footer {
    padding: 1rem;
    font-family: sans-serif;
}
    footer a {
        text-decoration: none;
        color: #aaa;
    }
        footer a:hover {
            color: var(--theme-clr);
        }