*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #eee;
}

header {
    text-align: center;
    padding: 1rem;
}

.logo {
    width: 35rem;
    margin: 0 auto;
}

h1 {
    font-family: 'Gruppo', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 1rem;
    /* line-height: .2; */
}

.screen {
    width: 50rem;
    /* height: 30rem; */
    aspect-ratio: 16 / 9;
    position: relative;
    /* z-index: 1; */
    border: 4px solid yellow;
    background-color: crimson;
    /* overflow: hidden; */
}
    .screen::before,
    .screen::after {
        --width: 12rem;
        /* --height: 7rem; */
        aspect-ratio: 16 / 9;

        content: '';
        position: absolute;
        /* z-index: 2; */
        width: var(--width);
        height: var(--height);
        transform: rotate(-34deg);
        /* transform: rotate(-30deg); */
        /* background-color: purple; */
        background-color: #222;
    }
    .screen::before {
        /* background-color: lime; */
        transform-origin: 0 100%;
        top: 0;
        left: 0;
        border-bottom: 5px solid yellow;
    }    
    .screen::after {
        transform-origin: 100% 0;
        bottom: 0;
        right: 0;
        border-top: 5px solid yellow;
    }

footer {
    padding: 1rem;
}


@media (min-width: 320px) {
    html {
        font-size: 6px;
    }
    header {
        margin-top: 5rem;
    }
    .screen {
        width: 40rem;
        aspect-ratio: 8 / 12;
    }
}

@media (min-width: 360px) {
    html {
        font-size: 8px;
    }
    /* header {
        margin-top: 5rem;
    } */
    .screen {
        width: 35rem;
        aspect-ratio: 8 / 12;
    }
}

/* @media (min-width: 375px) {
    html {
        font-size: 8px;
    }
    header {
        margin-top: 5rem;
    }
    .screen {
        width: 35rem;
        aspect-ratio: 8 / 12;
    }
} */

@media (min-width: 414px) {
    html {
        font-size: 10px;
    }
    .screen {
        width: 30rem;
        /* aspect-ratio: 8 / 12; */
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 820px) {
    .screen {
        width: 50rem;
        aspect-ratio: 16 / 9;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 12px;
    }
    header {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 14px;
    }
    header {
        margin-top: 3rem;
    }
    .screen {
        width: 55rem;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 16px;
    }
    header {
        margin-top: 3rem;
    }
    .screen {
        width: 60rem;
    }
}