@import 'keyframes-2.css';

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-clr: #0a0a17;
    /* --bg-clr: #101022; */
    --theme-clr: lime;
    --borders: 3px solid var(--theme-clr);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-clr);
    background: linear-gradient(90deg, #000 0%, var(--bg-clr) 20%, var(--bg-clr) 80%, #000 100%);
    color: #eee;
}

header {
    text-align: center;
    color: var(--border-clr);
    padding: 1rem;
}

.logo {
    width: 35rem;
    margin: 0 auto;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    /* font-family: monospace; */
    color: var(--theme-clr);
    font-size: 2rem;
    letter-spacing: .75rem;
    /* line-height: .2; */
    text-transform: uppercase;
    
}

.screen {
    width: 50rem;
    /* height: 30rem; */
    aspect-ratio: 16 / 9;
    position: relative;
    /* z-index: 1; */
    border: var(--borders);
    /* background-color: crimson; */
    /* overflow: hidden; */
    background-image: url('./img/screen-2.png');
    background-repeat: no-repeat;
    /* background-size: auto 100%;
    background-position: 59% 0; */
    animation: frame-move-2 50s ease-in-out infinite;
} 
    .screen::before,
    .screen::after {
        --width: 12rem;
        /* --height: 7rem; */
        aspect-ratio: 16 / 9;

        content: '';
        position: absolute;
        /* z-index: 2; */
        width: var(--width);
        height: var(--height);
        transform: rotate(-34deg);
        /* transform: rotate(-30deg); */
        /* background-color: purple; */
        background-color: var(--bg-clr);
    }
    .screen::before {
        /* background-color: lime; */
        transform-origin: 0 100%;
        top: 0;
        left: 0;
        border-bottom: var(--borders);
    }    
    .screen::after {
        transform-origin: 100% 0;
        bottom: 0;
        right: 0;
        border-top: var(--borders);
    }

    span.audio {
        position: absolute;
        top: 0;
        right: 0;
        width: 3rem;
        height: 3rem;
        /* background-color: var(--theme-clr); */
        cursor: pointer;
        color: var(--theme-clr);
        font-size: 3rem;
        display: grid;
        place-items: center;
    }

footer {
    padding: 1rem;
    font-family: 'Gruppo', sans-serif;
}

/* @keyframes frame-move {
    0% {
        background-position: 0 0;
    }
    10% {
        background-position: 0 0;
    }
    20% {
        background-position: 120% 10%;
    }
    30% {
        background-position: 120% 10%;
    }
    30.5% {
        background-position: 120% 20%;
    }
    40% {
        background-position: 120% 20%;
    }
    50% {
        background-position: 0 30%;
    }
    60% {
        
    }
    70% {
        
    }
    80% {
        
    }
    90% {
        
    }    
    100% {
        
    }
} */

@media (min-width: 320px) {
    html {
        font-size: 6px;
    }
    header {
        margin-top: 5rem;
    }
    .screen {
        width: 40rem;
        aspect-ratio: 3 / 4;
    }
}

@media (min-width: 360px) {
    html {
        font-size: 8px;
    }
    /* header {
        margin-top: 5rem;
    } */
    .screen {
        width: 35rem;
        /* aspect-ratio: 8 / 12; */
    }
}

@media (min-width: 375px) {
    /* html {
        font-size: 8px;
    } */
    /* header {
        margin-top: 5rem;
    } */
    .screen {
        width: 40rem;
        /* aspect-ratio: 8 / 12; */
    }
}

@media (min-width: 390px) {
    /* html {
        font-size: 8px;
    } */
    /* header {
        margin-top: 5rem;
    } */
    .screen {
        width: 40rem;
        /* aspect-ratio: 8 / 12; */
    }
}

@media (min-width: 414px) {
    html {
        font-size: 10px;
    }
    .screen {
        width: 35rem;
        aspect-ratio: 3 / 4;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 820px) {
    .screen {
        width: 50rem;
        aspect-ratio: 16 / 9;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 12px;
    }
    header {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 14px;
    }
    header {
        margin-top: 3rem;
    }
    .screen {
        width: 55rem;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 16px;
    }
    header {
        margin-top: 3rem;
    }
    .screen {
        width: 60rem;
    }
}